In [4]:

import numpy as np

In [5]:
from google.colab import files
 
 
uploaded = files.upload()

Saving House Price India.csv to House Price India (1).csv

In [6]:
import pandas as pd
import io
 
df = pd.read_csv(io.BytesIO(uploaded['House Price India.csv']))
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [7]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [10]:
x= df.drop('Postal Code',axis=1)
x.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the basement,Built Year,Renovation Year,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,280,1921,0,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1010,1909,0,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,0,1939,0,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,0,2001,0,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,830,1929,0,52.9047,-114.485,2060,4500,1,51,805000

In [12]:
y=df['Postal Code']
y

0        122003
1        122004
2        122004
3        122005
4        122006
          ...
14615    122066
14616    122072
14617    122056
14618    122042
14619    122018
Name: Postal Code, Length: 14620, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le=LabelEncoder()

In [24]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest,ytrain,ytest = train_test_spilt(x,y,test size=0.2,random_state=12

In [26]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=12)

In [27]:
xtrain

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the basement,Built Year,Renovation Year,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
12389,6762822381,42686,2,1.50,1210,1278,2.0,0,0,3,...,190,2007,0,52.9056,-114.565,1210,1118,1,79,414500
5425,6762820755,42572,5,3.00,2260,6508,1.0,0,0,3,...,930,2003,0,52.9808,-114.512,1940,9450,1,67,451000
1287,6762829095,42511,4,2.75,2570,7264,2.0,0,0,3,...,850,1998,0,52.4880,-114.398,2420,7911,2,53,254500
13440,6762818332,42707,3,2.25,1240,1250,3.0,0,0,3,...,0,2014,0,52.9048,-114.567,1470,1250,3,72,529950
6988,6762812020,42595,4,2.50,3680,11648,2.0,0,0,3,...,0,1986,0,52.7904,-114.297,2830,11251,2,75,909000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7409,6762828093,42601,5,1.75,2170,9752,1.0,0,0,3,...,1070,1962,0,52.5655,-114.521,1810,10609,3,62,278000
3325,6762825095,42543,3,1.00,1270,8400,1.0,0,0,3,...,0,1955,0,52.9904,-114.388,1390,8400,3,78,347000
9606,6762825937,42637,4,1.00,1360,8136,1.0,0,0,3,...,0,1948,0,52.9666,-114.523,1570,8132,3,62,328000
5787,6762818992,42576,3,1.00,1020,5410,1.0,0,0,4,...,140,1928,0,52.9224,-114.500,1580,5376,3,76,505000
14155,6762812739,42721,5,3.00,4080,7500,2.0,0,2,4,...,1360,1961,0,52.9022,-114.539,2000,4545,2,78,825000

In [28]:
xtest

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Area of the basement,Built Year,Renovation Year,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
12149,6762815497,42683,3,1.00,1210,3720,2.0,0,0,4,...,0,1930,0,52.8617,-114.491,1560,6000,2,72,640000
13581,6762815303,42711,3,1.00,1430,4240,1.5,0,0,3,...,0,1924,0,52.8895,-114.527,1660,4240,3,63,650000
11595,6762826056,42671,3,1.00,1490,57381,1.5,0,0,4,...,0,1932,0,52.4897,-114.418,1580,101529,2,51,325000
2769,6762823995,42536,3,1.00,1770,5720,1.5,0,0,4,...,630,1926,0,52.7846,-114.567,1500,4406,1,71,373000
7393,6762824659,42601,4,2.50,2390,6775,2.0,0,0,3,...,0,2003,0,52.7111,-114.372,2560,6346,2,73,355000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7362,6762819318,42601,4,2.25,2250,3463,2.0,0,0,4,...,0,1968,0,52.8624,-114.296,1850,2811,2,73,497000
11132,6762822873,42664,3,1.75,1470,6682,1.0,0,0,3,...,0,1987,0,52.9615,-114.416,1790,7379,1,50,400000
142,6762824223,42494,3,3.00,1571,10800,3.0,0,0,3,...,0,2008,0,52.9638,-114.499,1520,1497,1,62,366750
1405,6762828140,42515,3,1.00,1140,5000,1.0,0,0,3,...,0,1960,0,52.7835,-114.552,1140,5000,3,75,276000
6184,6762817137,42582,4,1.75,2400,21196,1.0,0,0,5,...,810,1956,0,52.6582,-114.537,2200,19134,1,51,569000

In [29]:
ytrain

12389    122007
5425     122014
1287     122023
13440    122026
6988     122027
          ...
7409     122040
3325     122017
9606     122038
5787     122006
14155    122028
Name: Postal Code, Length: 11696, dtype: int64

In [30]:
ytest

12149    122047
13581    122028
11595    122023
2769     122064
7393     122053
          ...
7362     122005
11132    122033
142      122022
1405     122034
6184     122031
Name: Postal Code, Length: 2924, dtype: int64

In [31]:
from tensorflow.keras.models import  Sequential
from tensorflow.keras.layers import Dense

In [46]:
reg=Sequential()
reg.add(Dense(3,activation='relu'))
reg.add(Dense(45,activation='relu'))
reg.add(Dense(16,activation='relu'))
reg.add(Dense(4,activation='relu'))

In [35]:
reg.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [36]:
reg.fit(xtrain,ytrain,batch_size=10,epochs=25,validation_data=(xtest,ytest))

Epoch 1/25
1170/1170 [==============================] - 5s 3ms/step - loss: 25150722408448.0000 - mse: 25150722408448.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 2/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892079104.0000 - mse: 14892079104.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 3/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892076032.0000 - mse: 14892076032.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 4/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892069888.0000 - mse: 14892069888.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 5/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892057600.0000 - mse: 14892057600.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 6/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892081152.0000 - mse: 14892081152.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 7/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892072960.0000 - mse: 14892072960.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 8/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892079104.0000 - mse: 14892079104.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 9/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892071936.0000 - mse: 14892071936.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 10/25
1170/1170 [==============================] - 4s 3ms/step - loss: 14892068864.0000 - mse: 14892068864.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 11/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892081152.0000 - mse: 14892081152.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 12/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892080128.0000 - mse: 14892080128.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 13/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892068864.0000 - mse: 14892068864.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 14/25
1170/1170 [==============================] - 4s 3ms/step - loss: 14892066816.0000 - mse: 14892066816.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 15/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892077056.0000 - mse: 14892077056.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 16/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892079104.0000 - mse: 14892079104.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 17/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892072960.0000 - mse: 14892072960.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 18/25
1170/1170 [==============================] - 4s 3ms/step - loss: 14892066816.0000 - mse: 14892066816.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 19/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892066816.0000 - mse: 14892066816.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 20/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892065792.0000 - mse: 14892065792.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 21/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892072960.0000 - mse: 14892072960.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 22/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892068864.0000 - mse: 14892068864.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 23/25
1170/1170 [==============================] - 3s 3ms/step - loss: 14892066816.0000 - mse: 14892066816.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 24/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892068864.0000 - mse: 14892068864.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000
Epoch 25/25
1170/1170 [==============================] - 3s 2ms/step - loss: 14892077056.0000 - mse: 14892077056.0000 - val_loss: 14892055552.0000 - val_mse: 14892055552.0000

In [47]:
reg.predict([[123123,345345,2344324,2]])

1/1 [==============================] - 0s 163ms/step

array([[0., 0., 0., 0.]], dtype=float32)